<p style="color: green"><%= notice %></p>

<%= render @course %>

<div>
  <%= link_to "编辑课程", edit_course_path(@course) %> |
  <%= link_to "返回", courses_path %>

  <%= link_to "课程评论", list_comments_course_path %>

</div>
