<!DOCTYPE html>
<html>
<head>
  <title>CourseSharePlatform</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <div class="container">
    <!-- Toggler -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Collapse -->
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <% if user_signed_in? %>
        <ul class="navbar-nav">
          <li class="nav-item">
            <%= link_to '课程列表', courses_path, class: "nav-link#{" active" if controller_name == "blogs"}" %>
          </li>
          <% if current_user.admin == 1 %>
            <li class="nav-item">
              <%= link_to '用户列表', users_path, class: "nav-link#{" active" if controller_name == "users"}" if current_user %>
            </li>
          <% end %>
        </ul>
        </div>
        <span class="navbar-text">欢迎, <%= current_user.username %></span>&nbsp; &nbsp;
        <%= link_to '用户首页', user_path(current_user), class: "btn btn-primary d-flex" %>&nbsp;
        <%= link_to '用户登出', destroy_user_session_path, method: :delete, class: "btn btn-secondary d-flex" %>&nbsp;
      <% end %>
      <!-- Mobile button -->
      <div class="d-lg-none text-center">
        <a href="https://webpixels.io/themes/quick-website-ui-kit" class="btn btn-block btn-sm btn-warning">See more
          details</a>
      </div>
      </div>
  </div>
</nav>


<%= yield %>
</body>
</html>


