<div id="<%= dom_id course_file %>">

  <p>
    <strong>Title:</strong>
    <%= course_file.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= course_file.description %>
  </p>

  <p>
    <%= link_to "文件下载",url_for(course_file.file)%>
  </p>

  <%if current_user.admin==1%>
    <%= button_to "删除文件", course_course_file_path(@course,course_file), method: :delete %>
  <%end%>

</div>
