<div id="<%= dom_id question_reply %>">
  <p>
    <strong>用户:</strong>
    <%= link_to question_reply.user.username, user_path(question_reply.user.username),
                class: "my-link" %>
  </p>

  <p>
    <%= question_reply.content %>
  </p>

  <span>
    <% if question_reply.accepted == 1 %>
    <span style="color: red">已采纳</span>
    <% if current_user == question_reply.user || current_user.admin == 1 %>
      <%= link_to "取消采纳",
                  change_ac_course_question_question_reply_path(question_reply.question.course, question_reply.question,
                                                                question_reply),
                  class: "btn btn-secondary btn-sm" %>
    <% end %>
  <% else %>
    <span style="color: blue">未采纳</span>
    <% if current_user == question_reply.user || current_user.admin == 1 %>
      <%= link_to "采纳",
                  change_ac_course_question_question_reply_path(question_reply.question.course, question_reply.question,
                                                                question_reply),
                  class: "btn btn-secondary btn-sm" %>
    <% end %>
  <% end %>
  </span>

  <p class="my-sign"><%= question_reply.created_at %></p>
  <hr>
</div>
