<div id="comments">
<%= render @course.course_comments %>
</div>

<%= form_for [@course , CourseComment.new] do |f| %>
  <p>
    <%= f.label :content, "发表评论" %> <br />
<%= f.text_area :content, :rows => 5 %>
  </p>
  <p><%= f.submit "发布" %></p>
<% end %>

<%= link_to "返回课程页面",course_path(@course) %>