<div class="container-fluid">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
<% if user_signed_in? %>
    <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <%if current_user.admin==1%>
        <li class="nav-item">
          <%= link_to '编辑课程', edit_course_path(@course), class: "nav-link#{" active" if controller_name == "blogs"}" %>
          
        </li>
        <%end%>
        <li class="nav-item">
          <%= link_to '课程评论', list_comments_course_path, class: "nav-link#{" active" if controller_name == "users"}" if current_user %>
        </li>
        <li class="nav-item">
          <%= link_to '课程文章', list_articles_course_path, class: "nav-link#{" active" if controller_name == "users"}" if current_user %>
        </li>
        <li class="nav-item">
          <%= link_to '课程资料', list_course_files_course_path, class: "nav-link#{" active" if controller_name == "users"}" if current_user %>
        </li>
        <li class="nav-item">
          <%= link_to '问题求助', list_questions_course_path, class: "nav-link#{" active" if controller_name == "users"}" if current_user %>
        </li>
        <%if current_user.admin==1%>
        <%= button_to "删除课程", @course, method: :delete , class:  "btn btn-secondary d-flex" %>
        <%end%>
      </ul>
    </div>
<% end %>
</nav>
</div>

<div id="course_fies">
<%= render @course.course_files %>
</div>
<hr>

<%= form_for [@course, CourseFile.new] do |f| %>
  <p>
  <div>
    <%= f.label :title, "标题" %> <br />
    <%= f.text_area :title, :rows => 1 %>
  </div>
  <div>
    <%= f.label :description, "描述" %> <br />
    <%= f.text_area :description, :rows => 5 %>
  </p>
  <div>
    <%= f.label :file, "文件"%>
    <%= f.file_field :file%>
  </div>
  <p><%= f.submit "发布" %></p>
<% end %>


<%= link_to "返回课程页面",course_path(@course) %>