<div id="<%= dom_id article %>">

  <p>
    <strong>用户:</strong>
    <%= article.user.username %>
  </p>

  <p>
    <strong>标题:</strong>
    <%= article.title %>
  </p>

  <p>
    <strong>正文:</strong>
    <%= article.content %>
  </p>

  <%if not article.like_users.include? current_user%>
    <%= link_to "点赞",beLiked_course_article_path(@course,article)%>
  <%else%>
    <%=link_to "取消点赞",beUnliked_course_article_path(@course,article)%>
  <%end%>
  <%= article.like_users.length%>

  <%if not article.favor_users.include? current_user%>
    <%= link_to "收藏",beFavored_course_article_path(@course,article)%>
  <%else%>
    <%=link_to "取消收藏",beUnfavored_course_article_path(@course,article)%>
  <%end%>
  <%= article.favor_users.length%>
  <%if current_user.admin==1%>
    <%= button_to "删除文章", @article, method: :delete %>
  <%end%>

</div>
