<div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
      <!-- Toggler -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav">
          <% if current_user == @user || current_user.admin == 1 %>
            <li class="nav-item">
              <%= link_to '我的关注', list_followers_user_path(@user), class: "nav-link#{" active" if controller_name == "blogs"}" %>
            </li>
            <li class="nav-item">
              <%= link_to '我的粉丝', list_followings_user_path(@user), class: "nav-link#{" active" if controller_name == "users"}" if current_user %>
            </li>
            <li class="nav-item">
              <%= link_to '我的收藏', list_favor_articles_user_path(@user), class: "nav-link#{" active" if controller_name == "users"}" if current_user %>
            </li>
            <li class="nav-item">
              <%= link_to '我的问题', list_questions_user_path(@user), class: "nav-link#{" active" if controller_name == "users"}" if current_user %>
            </li>
            <li class="nav-item">
              <%= link_to '我的空间', space_user_path(@user), class: "nav-link#{" active" if controller_name == "users"}" if current_user %>
            </li>
          <% end %></ul>
      </div>
      <!-- Mobile button -->
      <div class="d-lg-none text-center">
        <a href="https://webpixels.io/themes/quick-website-ui-kit" class="btn btn-block btn-sm btn-warning">See more
          details</a>
      </div>
    </div>
  </nav>
</div>
<section>
  <div class="container d-flex flex-column">
    <div class="row align-items-center justify-content-center min-vh-80">
      <h3><% if current_user == @user %>
          我
        <% else %>
          <%=@user.username %>
        <% end %>的关注</h3><span class="my-cnt">共<%= @user.followings.length %>条记录</span>
      <hr>
      <div class="container-fluid">
        <div id="users" class="row">
          <%= render @user.followings %>
        </div>
      </div>
    </div>
  </div>
</section>
