<div class="container-fluid">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
<% if user_signed_in? %>
    <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <% if current_user==@user|| current_user.admin==1%> 
        <li class="nav-item">
          <%= link_to '我的关注', list_followers_user_path(@user), class: "nav-link#{" active" if controller_name == "blogs"}" %>
        </li>
        <li class="nav-item">
          <%= link_to '我的粉丝', list_followings_user_path(@user), class: "nav-link#{" active" if controller_name == "users"}" if current_user %>
        </li>
        <li class="nav-item">
          <%= link_to '我的收藏', list_favor_articles_user_path(@user), class: "nav-link#{" active" if controller_name == "users"}" if current_user %>
        </li>
        <li class="nav-item">
          <%= link_to '我的问题', list_questions_user_path(@user), class: "nav-link#{" active" if controller_name == "users"}" if current_user %>
        </li>
        <li class="nav-item">
          <%= link_to '我的空间', space_user_path(@user), class: "nav-link#{" active" if controller_name == "users"}" if current_user %>
        </li>
        <%end%>
      </ul>
    </div>
<% end %>
</nav>
</div>




<%= render @user %>

<%if current_user.admin!=1%>
<p>提交验证码以获得管理员权限</p>
<%= form_tag certainfy_user_path(current_user), method: :get do %>  
  <%= text_field_tag 'code', nil %>  
  <%= submit_tag '提交', name: nil %>  
  <%end%>
<% end %>


<% if current_user==@user|| current_user.admin==1%> 
<div>
  <%= link_to "编辑资料", edit_user_path(@user) %> 
</div>
<%end%>

<% if current_user!=@user%>  
  <% if current_user.followings.include? @user %>
    <%= link_to '取消关注', unfollow_user_path(@user), class: "btn btn-danger" %>
  <% else %>
    <%= link_to '关注', follow_user_path(@user), class: "btn btn-success" %>
  <% end %>
<%end%>

<p>个性签名：
  <%if @user.personal_sign!=nil %>
    <%=@user.personal_sign%>
  <%else%>
    <p>暂无个性签名</p>
  <%end%>
<% if current_user==@user|| current_user.admin==1%> 
</p>
  <p><%=link_to "编辑个性签名", edit_personal_sign_user_path%></p>
<%end%>


<% if @user.realname != nil %>
  <p> 个人认证信息</p>
  <p>姓名：<%= @user.realname %></p>
  <p>学号：<%= @user.studentcode %></p>
<% else %>
<% if current_user==@user%> 
  <%= link_to "学生认证", student_certificate_user_path %>
  <%end%>
<% end %>

