<div id="course_comment_<%= course_comment.id %>">
  <p>

    <strong>用户
      <%= link_to course_comment.user.username, user_url(course_comment.user) %> 发布于
      <%= time_ago_in_words(course_comment.created_at) %>前
    </strong><br/>
    <%= course_comment.content %>
    <%if not course_comment.like_users.include? current_user%>
      <%= link_to "点赞",beLiked_course_course_comment_path(@course,course_comment)%>
    <%else%>
      <%=link_to "取消点赞",beUnliked_course_course_comment_path(@course,course_comment)%>
    <%end%>
    <%= course_comment.like_users.length%>
    <%if current_user.admin==1%>
    <%= button_to "删除评论", @course_comment, method: :delete %>
  <%end%>
  </p>
</div>
